@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  body {
    background-color: #fbc02d;
  }
  .image-container,
  .article-container {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efd592;
}

nav img {
  float: right;
  width: 5rem;
  margin: 0 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3%;
}

.image-container {
  background-color: #242d38;
  width: 30rem;
  height: 30rem;
}

.article-container {
  width: 30rem;
  text-align: justify;
  padding: 1rem;
}

.article-container h1 {
  padding: 3rem 0;
  font-size: 3rem;
}
